* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

button {
  background-color: #0061ff;
  border: none;
  padding: 12px 20px;
  color: white;
  font-size: 14px;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
}

.container2 {
  max-width: 1000px;
  margin: 0 auto;
}

.container3 {
  max-width: 600px;
}

/*
******
HEADER
******
*/

header div nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

header li {
  display: inline-block;
  padding: 30px 20px;
}

nav {
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  position: fixed;
  overflow-y: auto;
  z-index: 99;
}

header div nav ul li a {
  text-decoration: none;
  color: black;
}

.jumbotron {
  text-align: left;
  padding-top: 185px;
  background-color: #b4d0e7;
}

h1 {
  font-size: 80px;
  margin-bottom: 75px;
}

.text-left {
  width: 40%;
}

.text {
  margin-bottom: 35px;
}

.text-img {
  display: flex;
  position: relative;
}

header i {
  font-size: 60px;
  margin: 45px 0 25px;
}

.img-right img {
  max-width: 80%;
  display: block;
  position: absolute;
}

/*
******
/ HEADER
******
*/

/*
******
MAIN
******
*/

h2 {
  margin: 160px 0 70px;
  font-size: 50px;
}

.bottoncini {
  display: flex;
  margin-bottom: 55px;
  gap: 50px;
}

.cerchi {
  display: flex;
  align-items: flex-end;
  gap: 7px;
}

.cprimo {
  border: 6px #0061ff solid;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.csecondo {
  border: 2px lightgray solid;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.boxes {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.box {
  border: 1px lightgray solid;
  max-width: calc((100% - 100px) / 3);
}

.who {
  padding: 20px;
  border-bottom: 1px lightgray solid;
  text-align: center;
}

.what {
  padding: 55px 30px;
  gap: 20px;
}

main li {
  list-style: none;
}

h3 {
  font-size: 30px;
  margin-bottom: 25px;
}

.what div:nth-child(2) {
  margin-bottom: 20px;
  font-weight: bold;
}

.what div:nth-child(3) {
  margin-bottom: 55px;
  color: gray;
}

.what ul li {
  margin: 30px 0 30px;
}

main button {
  margin: 50px auto 35px;
  display: flex;
  justify-content: center;
}

.boxes div {
  font-size: 14px;
}

.emotic {
  display: flex;
  gap: 10px;
  align-items: start;
}

.fa-check {
  color: #0061ff;
}

.link {
  margin: 35px 0 45px;
}

main hr {
  width: 50px;
  background-color: lightgray;
  margin-bottom: 55px;
}

a {
  color: #0061ff;
}

.foto-testo-2 {
  display: flex;

  margin-top: 145px;
  width: 100%;
}
.testodue {
  min-width: 40%;
  padding: 60px 50px;
}

.fotodue img {
  width: 600px;
}

.testodue .button2 {
  background-color: white;
  padding: 12px 20px;
  font-size: 14px;
  color: gray;
  border: 1px gray solid;
  margin: 35px 0;
}

.penultimo-main h2 {
  margin-top: 175px;
}

.cartelline {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.cartella {
  max-width: calc((100% - 90px) / 3);
  margin-bottom: 70px;
}

.cartella img {
  max-width: 100%;
}
